#session-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    font-size: 1.4rem;
}

#session-length {
    align-self: center;
    font-size: 1.5rem;
}

#session-wrapper {
    background-color: var(--color-4);
    border-radius: 4px;
    padding: 3px;
}

#session-ctrl {
    display: flex;
    justify-content: space-evenly;
}

span {
    width: 40px;
}