:root {
  --color-1: #f1f1f1;
  --color-2: #eaeaea;
  --color-3: #e5e8ed;
  --color-4: #cacbcf;
  --color-5: #a1a1a3;
  --color-6: #666b71;
  --color-7: #454b41;
  --color-8: #ee2828;
}

* {
  font-family: 'Roboto', sans-serif;
  color: var(--color-7);
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-6);
}

#clock-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  height: 300px;
  width: 400px;
  background-color: var(--color-3);
  border-radius: 5px;padding: 10px;
}

footer {
  color: var(--color-3);
  margin-top: 10px;
}

footer > a {
  text-decoration: none;
  color: #35c977;
}

@media (max-width: 360px) {
  #clock-wrapper {
      width: 90vw;
  }
}